.header{
  display: flex;
  justify-content: center;
  border-bottom: 10px solid rgb(63, 59, 59);
  padding: 30px;
  margin-bottom: 60px;
}

.header span {
  font-size: 70px;
  font-weight: 600;
}

.maincontent .mainstuff span {
  font-size: 60px;
  font-family:monospace;
}
.maincontent{
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.btns {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.btns button{
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 50px;
  border-radius: 10px;
}



/* begin-after  */


.ground .Theader {
display: flex;
margin-top: 30px;

}



.pc ,.human {
  display: flex;
  font-size: 50px;
  font-weight: 300px;
  flex: 1 0 0;
  justify-content: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.field{
  display: flex;
}


.ground {
  flex-direction: column;

}





.pcarea  {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}


.humanarea  {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  /* align-items:flex-end; */
}


.humanarea span {
  text-align: center;
  font-size: 50px;

}
.humanarea button{
  
    flex: 0 1 300px;
    font-size: 40px;
}

.humanarea #rock{
  background-image: url("images_used/rock.png");
  background-position:left center;
  background-repeat: no-repeat;

}

.humanarea #paper{
  background-repeat: no-repeat;
  background-image: url("images_used/paper.png");

}
.humanarea #scissors{
  background-repeat: no-repeat;
  background-image: url("images_used/scissors.png");

}


.pcarea span {
  margin: 0 auto;
  font-size: 50px;
}

.pcarea img , .humanarea img{
  flex : 0 1 0;
}

.nxtBox{
  display: flex;
  justify-content: center;
}

.nxtrnd{
  border-radius: 5px ;
  border: 1px rgb(0, 0, 0) solid;
  font-size: 30px;
  padding: 30px;

}